@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#join-form{
  background-color: #3D5467!important;
  color: #75B9BE;
  border-radius: 1rem !important;
  margin-top: 1cm;
  padding: 0.2cm;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#logout:hover{
  color: red;
}

#error-msg{
  background-color: rgba(226, 58, 58, 0.555);
  border-radius: 5px;
  color:white;
  margin-top: 0.5cm;
}

#user-frame{
  font-size: 8rem;
  padding: 1rem;
  margin-bottom: 0;
}
#user-frame i{
  background-color: rgb(235, 231, 231);
  border-radius: 5px;
  padding: 1rem;
  border: 0.1rem solid black;
}
#post-section,#user-frame{
}
#post-section{
}

#main-nav{
  text-decoration: none;
}

#card-slot{
  float: left;
  margin:0.3rem;
  width: 12rem;
  height: 20rem;
  padding: 0;
}
.cards{
}
#nav-main{
  background-color: #3D5467;
}

#h-main{
  color:#FE5F55;
}
.nav-link{
  color:#e5d5c2 !important;
}
.a-nav-link{
  color:#fceedf !important;
}
.nav-link:hover{
  color:#fceedf !important;
}

.create-room .modal-content{
  background-color: #3D5467 !important;
  border-radius: 1rem;
  color:#75B9BE;
  border-color: 0;
}

.create-room .modal-body{
  border-color: red;
}

.btn-stylish{
  background-color:  #4b677e!important;
  border: 0.15rem solid#5e9297!important;
  border-radius: 1rem !important;
  color:#75B9BE !important;
}

.btn-classic{
  background-color:  #4b677e!important;
  border-radius: 1rem !important;
  color:#e5d5c2 !important;
}
.btn-stylish:hover{
  background-color:  #577994!important;
}

