@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');
.App {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#join-form{
  background-color: #3D5467!important;
  color: #75B9BE;
  border-radius: 1rem !important;
  margin-top: 1cm;
  padding: 0.2cm;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#error-msg{
  background-color: rgba(226, 58, 58, 0.555);
  border-radius: 5px;
  color:white;
  margin-top: 0.5cm;
}

#user-frame{
  font-size: 8rem;
  padding: 1rem;
  margin-bottom: 0;
}
#user-frame i{
  background-color: rgb(235, 231, 231);
  border-radius: 5px;
  padding: 1rem;
  border: 0.1rem solid black;
}
#card-slot{
  float: left;
  margin:0.3rem;
  width: 12rem;
  height: 20rem;
  padding: 0;
}
.create-room .modal-content{
  background-color: #3D5467 !important;
  border-radius: 1rem;
  color:#75B9BE;
  border-color: 0;
}

.create-room .modal-body{
  border-color: red;
}

.btn-stylish{
  background-color:  #242325!important;
  border: 0.15rem solid #3a393b!important;
  border-radius: 1rem !important;
  color: #828183 !important;
}

.btn-classic{
  background-color:  #4b677e!important;
  border-radius: 1rem !important;
  color:#e5d5c2 !important;
  transition: color 0.5s;
}
.btn-classic:hover{
  color:#f5e4d0 !important;
}
.btn-stylish:hover{
  background-color:#3a393b!important;
}

.btn-new{
  background-color: 0;
  border-radius: 1rem !important;
  color: #C8C8C8 !important;
  border:0.15rem #C8C8C8 solid!important;
  transition: all 1s;
}

.btn-new:hover{
  color: #2d2b2e!important;
  background-color: #C8C8C8;
}





