#user-list{
    background-color:#3D5467;
    color: #75B9BE;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.user-list h2 .room-list h2{

}
#users {
    background-color: #3D5467;
    border: 0.25rem solid #4b677e;
    border-radius: 1rem;
    overflow-y: scroll;
    height: 25rem;
}
.list-user{
    text-align: left;
    font-size: 1.5rem;
    border-bottom: 0.25rem solid #3D5467;
}
.list-user p{
    margin-left: 1rem;
    margin-bottom: 0rem;
}

.list-room{
    font-size: 2rem;
}
.started-room{
    color: rgba(226, 58, 58, 0.555);
}
.list-user,.list-room{
    transition: background-color 0.35s;
    background-color: #384d5e;
}
.list-user:hover, .list-room:hover{
    cursor: pointer;
    background-color: #3D5467;
}
#game{
    margin-top: 1rem;
    color:#75B9BE !important;
}

#room-list{
    background-color:#3D5467;
    color: #75B9BE;
    padding: 1rem;
    border-radius: 1rem;

}
#rooms{
    border: 0.25rem solid #4b677e;
    border-radius: 1rem;
    height: 25rem;
    overflow-y: scroll;
}