.play-div{
    background-color:#3D5467;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.main-col{
    background-color:#3D5467;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

#users-div,#howto-div{
    border: 0.25rem solid #4b677e;
    border-radius: 1rem;
    height: 30rem;
    padding: 0.2rem;
}

#users-div .room-user{
    font-size: 1.5rem;
    background-color: #364b5c;
}