

#room-ctn{
    color: #C8C8C8;
    
    margin-top:1rem;
    border-radius: 1rem;
}

#room-main{
    padding: 1rem;
    border-radius: 1rem;
    background-color: #242325;
    margin:1rem;
}
.room-user{
    background-color: #242325;
    font-size: 2rem;
    text-align: left;
    border-bottom: 0.25rem solid #302f31;
}
.room-user p{
    margin-left: 1rem;
    margin-bottom: 0;
}
#room-users{
    border: 0.25rem solid #302f31;
    border-radius: 1rem;
    height: 20rem;
    overflow-y: scroll;
}
#room-bottom{
    font-size: 1rem;
    border-radius: 1rem;
    height: 4rem;
    padding:1rem;
}
