#rooms-column{
    background-color:#242325;
    color: #C8C8C8;
    padding: 0.75rem;
    height: 100vh;
}

.list-room p{
    margin-left: 1rem;
    margin-bottom: 0rem;
}

.list-room{
    font-size: 1.75rem;
    font-weight: 300;
}
.started-room{
    color: rgba(226, 58, 58, 0.555);
}
.list-room{
    transition: background-color 0.35s;
    background-color: #242325;
    border-bottom: 0.25rem solid #2d2c2e;
}
 .list-room:hover{
    cursor: pointer;
    background-color: #323133;
}

#room-list{
    border: 0.25rem solid #302f31;
    background-color:#1f1e20;
    border-radius: 0.75rem;
}
#rooms{
    height: 75vh;
    overflow-y: scroll;
}

.btn-glow{
    color: #C8C8C8 !important;
    font-size: x-large !important;
    border-radius: 0.75rem;
}
.btn-glow:hover{
    color:#C8C8C8;
    background-color: #29282b;
}
.rooms-footer{
    border-top: 0.25rem #302f31 solid;
    text-align: right;
    padding: 0.1rem;
}