

#room-ctn{
    color: #75B9BE;
    
    margin-top:1rem;
    border-radius: 1rem;
}

#room-main{
    padding: 1rem;
    border-radius: 1rem;
    background-color: #3D5467;
    margin:1rem;
}
.room-user{
    background-color: #384d5e;
    font-size: 2rem;
    text-align: left;
    border-bottom: 0.25rem solid #4b677e;
}
.room-user p{
    margin-left: 1rem;
    margin-bottom: 0;
}
#room-users{
    border: 0.25rem solid #4b677e;
    border-radius: 1rem;
    height: 20rem;
    overflow-y: scroll;
}
#room-bottom{
    font-size: 1rem;
    border-radius: 1rem;
    background-color:#3D5467;
    height: 4rem;
    padding:1rem;
}
