.users-column{
    background-color:#2b2a2c;
    height: 100vh;
    overflow: hidden;
}
#user-list{
    background-color: #1f1e20;
    color: #C8C8C8;
    border: 0.25rem solid #302f31;
}

#users {
    overflow-y: scroll;
    height: 75vh;
}
.list-user{
    text-align: left;
    font-size: 1.25rem;
    
}

.list-user p{
    margin-left: 1rem;
    margin-bottom: 0rem;
}

.list-user{
    transition: background-color 0.35s;
    background-color: #242325;
    border-bottom: 0.25rem solid #2d2c2e;
}
.list-user:hover{
    cursor: pointer;
    background-color: #323133;
}

.users-footer{
    background-color: #302f31;
}

.online-count{
    color:#61C9A8;
}
.playing-count{
    color:#3DA5D9;
}

.nav-tabs{
    border-color: #302f31 !important;
    border-width: 0.4rem !important;
}
.nav-tabs .nav-link.active{
    border: 0 !important;
    outline: 0 !important;
    background-color:#302f31  !important;
}
.nav-tabs .nav-link{
    border:0 !important;
    outline: 0 !important;
}
.nav-tabs .nav-link:hover{
    border: 0 !important;
}